<a :href="link">
    <div class="border border-black rounded p-1 relative bg-white w-72">
        <icon-played v-if="played" class="absolute right-1 top-1"></icon-played>
        <div class="flex justify-center items-center h-32 bg-cover rounded" :class="getBackground()">
            <img :src="`https://x.boardgamearena.net/data/gamemedia/${name}/title/en_500.png?h=1651660181`" class="w-40">
        </div>
        <div class="flex gap-2 py-4 px-2 items-center justify-between" :class="{ 'text-gray-300 fill-gray-300': !learned }">
            <div class="w-12 flex gap-2 items-center justify-center">
                <icon-user class="h-5"></icon-user>
                <div class="whitespace-nowrap">{{maxPlayers}}</div>
            </div>
            <div class="w-12 flex gap-2 items-center justify-center">
                <icon-clock class="h-5"></icon-clock>{{time}}
            </div>
            <div class="w-12 flex gap-2 items-center justify-center">
                <icon-complexity class="h-5"></icon-complexity>{{complexity}}
            </div>

            <div class="w-12">
                <rating  v-if="learned" :value="rate" class="flex gap-0"></rating>
            </div>
        </div>
    </div>
</a>