<a :href="link" target="_blank">
    <div class="rounded w-[270px] h-[162px] relative p-2 bg-neutral-white outline outline-1 -outline-offset-1 outline-neutral-gray border-neutral-gray flex flex-col items-center bg-cover saturate-50 hover:saturate-0 group cursor-pointer hover:-translate-y-0.5 hover:translate-x-0.5 transition-transform " :class="getBackground()">
        <div class="absolute top-0 left-0 w-7 h-7 rounded-br-full border-b border-r border-inherit bg-inherit"></div>
        <div class="absolute top-0 right-0 w-7 h-7 rounded-bl-full border-b border-l border-inherit bg-inherit"></div>
        <div class="absolute bottom-0 left-0 w-7 h-7 rounded-tr-full border-t border-r border-inherit bg-inherit"></div>
        <div class="absolute bottom-0 right-0 w-7 h-7 rounded-tl-full border-t border-l border-inherit bg-inherit"></div>
        <div class="flex justify-center items-center h-[148px] bg-cover rounded">
            <img :src="`https://x.boardgamearena.net/data/gamemedia/${name}/title/en_500.png?h=1651660181`" class="w-48">
        </div>
        <div class="relative bottom-3 flex gap-4 items-center justify-center">
            <div class="flex flex-col items-center">
                <div class="border border-neutral-gray rounded-full p-4 size-4 flex items-center justify-center bg-[#F1EEE5] group-hover:bg-white">
                    {{maxPlayers}}
                </div>
                <icon-user class="h-5"></icon-user>
            </div>
            <div class="flex flex-col items-center">
                <div class="border border-neutral-gray rounded-full p-4 size-4 flex items-center justify-center bg-[#F1EEE5] group-hover:bg-white">
                    {{time}}
                </div>
                <icon-clock class="h-5"></icon-clock>
            </div>
            <div class="flex flex-col items-center">
                <div class="border border-neutral-gray rounded-full p-4 size-4 flex items-center justify-center bg-[#F1EEE5] group-hover:bg-white">
                    {{complexity}}
                </div>
                <icon-complexity class="h-5"></icon-complexity>
            </div>
        </div>
    </div>
</a>