<div target="_blank" class="group block drop-shadow-lg outline outline-1 -outline-offset-1 outline-black border-black rounded-md cursor-pointer hover:-translate-y-0.5 hover:translate-x-0.5 transition-transform duration-200" @click="click">
    <div class="rounded-md h-full z-1 bg-[#F1EEE5] p-2 flex flex-col items-center justify-center bg-cover" :class="getBackground()">
        <img
            v-if="!isBlank"
            :src="`https://x.boardgamearena.net/data/gamemedia/${name}/title/en_500.png?h=1651660181`"
            class="w-[90%]"
        >
    </div>
</div>
