<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BGA Games</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/App/Styles/app.css">
</head>
<body class="bg-[url('https://x.boardgamearena.net/data/themereleases/231025-1001/img/mainsite/games/default_banner.jpg')] ">
    <div id="app" v-cloak class="container mx-auto bg-repeat min-h-screen">
        <div class="flex gap-6 m-3 rounded shadow-sm p-4 bg-white p-4 text-sm font-sans">
            <div>
                Jogado
                <select v-model="played" class="h-12 block w-32 mt-1 px-4 py-3 text-base text-gray-900 rounded bg-gray-50 focus:ring-blue-500 focus:border-blue-500">
                    <option value="-1">-</option>
                    <option value="0">Não</option>
                    <option value="1">Sim</option>
                </select>
            </div>
            <div>
                Aprendido
                <select v-model="learned" class="block h-12 w-32 mt-1 px-4 py-3 text-base text-gray-900 rounded bg-gray-50 focus:ring-blue-500 focus:border-blue-500">
                    <option value="-1">-</option>
                    <option value="0">Não</option>
                    <option value="1">Sim</option>
                </select>
            </div>
            <div>
                Jogadores
                <div class="h-12">
                    <select v-model="maxPlayers" class="w-32 h-12 mt-1 px-4 py-3 text-base text-gray-900 rounded bg-gray-50 focus:ring-blue-500 focus:border-blue-500">
                        <option value="">-</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
            <div>
                Avalição
                <div class="h-12">
                    <select v-model="rating" class="w-32 h-12 mt-1 px-4 py-3 text-base text-gray-900 rounded bg-gray-50 focus:ring-blue-500 focus:border-blue-500">
                        <option value="">-</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
            <div>
                Filtro
                <div class="flex items-center justify-center h-12 w-72 mt-1 text-base text-gray-900 p-2 rounded bg-gray-50 focus:ring-blue-500 focus:border-blue-500">
                    <input type="text" v-model="filter" class="border-0 h-full w-full bg-transparent focus:outline-none">
                </div>
            </div>
        </div>
        <div class="mt-4 flex gap-2 justify-center flex-wrap">
            <game-card
                v-for="game in filteredGames"
                :min-players="game.minPlayers"
                :max-players="game.maxPlayers"
                :complexity="game.complexity"
                :rate="game.rate"
                :time="game.time"
                :learned="game.learned"
                :played="game.played"
                :name="game.name"
                :title="game.title"
                :key="game.name"
                :link="game.link"
            ></game-card>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="/App/app.js" type="module"></script>
</body>
</html>