<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Tarde</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/App/Styles/app.css">
</head>
<body class="bg-[#F1EEE5]">
    <div id="app" class="mb-8 relative">
        <div class="relative flex items-center justify-between bg-[#fafafa]">
            <img class="w-16 mx-4 absolute" src='https://doc.boardgamearena.com/images/thumb/e/e4/Logo_without_title.png/800px-Logo_without_title.png'>
            <div class="flex flex-1 items-center justify-center gap-6 rounded shadow-sm p-4 p-4 text-sm font-sans">
                <div class="w-[150px]">
                    <label class="block text-sm font-medium leading-6 text-gray-900 flex gap-2 items-center">
                        <icon-played class="h-3 w-3"></icon-played>
                        Jogado
                    </label>
                    <selector v-model="played" :options='[{id: -1, text: "-"}, {id: 0, text: "Ainda não"}, {id: 1, text: "Sim"}]'/>
                </div>
                <div class="w-[150px]">
                    <label class="block text-sm font-medium leading-6 text-gray-900 flex gap-2 items-center">
                        <icon-learned class="h-3 w-3"></icon-learned>
                        Aprendido
                    </label>
                    <selector v-model="learned" :options='[{id: -1, text: "-"}, {id: 0, text: "Ainda não"}, {id: 1, text: "Sim"}]'/>
                </div>
                <div class="w-[200px]">
                    <div class="block text-sm font-medium leading-6 text-gray-900 flex gap-1 items-center">
                        <icon-user class="h-4 w-4"></icon-user> <div>Jogador</div>
                    </div>
                    <selector v-model="maxPlayers" :options='[{id: 0, text: "-"}, {id: 1, text: "1 jogador"}, {id: 2, text: "2 jogadores"}, {id: 3, text: "3 jogadores"}, {id: 4, text: "4 jogadores"}, {id: 5, text: "5 jogadores"}, {id: 6, text: "6 jogadores"}]'/>
                </div>
                <div class="w-[200px]">
                    <div class="block text-sm font-medium leading-6 text-gray-900 flex gap-1 items-center">
                        <icon-clock class="h-4 w-4"></icon-clock> <div>Duração</div>
                    </div>
                    <selector v-model="playTime" :options='[{id: 0, text: "-"}, {id: 1, text: "Curto"}, {id: 2, text: "Médio"}, {id: 3, text: "Demorado"}]'/>
                </div>
                <div class="w-[200px]">
                    <div class="block text-sm font-medium leading-6 text-gray-900 flex gap-1 items-center">
                        <icon-complexity class="h-4 w-4"></icon-complexity> <div>Complexidade</div>
                    </div>
                    <selector v-model="complexity" :options='[{id: -1, text: "-"}, {id: 1, text: "Simples"}, {id: 2, text: "Médio"}, {id: 3, text: "Complexo"}]'/>
                </div>
                <div class="w-[150px]">
                    <label class="block text-sm font-medium leading-6 text-gray-900 flex gap-1 items-center">
                        <icon-star class="h-4 w-4"></icon-star>
                        Avaliação
                    </label>
                    <rating-selector v-model="rating" :options='[{id: -1}, {id: 0}, {id: 1}, {id: 2}, {id: 3}]'/>
                </div>
                <div>
                    <label class="block text-sm font-medium leading-6 text-gray-900 flex gap-1 items-center">
                        <icon-filter class="h-3 w-3"></icon-filter>
                        Filtro
                    </label>
                    <input v-model="filter" type="text" class="border-0 flex w-full rounded-md bg-white py-1.5 px-4 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:text-sm sm:leading-6">
                </div>
            </div>
        </div>

        <div class="h-1 w-full bg-gradient-to-r from-[#AF22F1] to-[#0FAABA]">
        </div>

        <div class="relative mx-12 mt-4 mb-12 flex flex-col justify-center">
            <div v-if="filteredGames.length" class="flex w-auto items-center justify-center relative -top-7">
                <div class="shadow-md text-xs font-medium text-gray-700 border border-black rounded p-1 px-2 bg-[#fafafa]">{{ filteredGames.length }} jogos</div>
            </div>
            <transition-group name="list" tag="ul" class="flex gap-12 justify-center flex-wrap">
                <game-card
                    v-for="game in filteredGames"
                    :key="game.name"
                    :min-players="game.minPlayers"
                    :max-players="game.maxPlayers"
                    :complexity="game.complexity"
                    :rate="game.rate"
                    :time="game.time"
                    :learned="game.learned ? true : false"
                    :played="game.played"
                    :name="game.name"
                    :title="game.title"
                    :key="game.name"
                    :link="game.link"
                    class="list-item"
                ></game-card>
            </transition-group>
        </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="/App/app.js" type="module"></script>
</body>
</html>